<div class="container">
    <div class="customers">
        <h1>Customers</h1>
    </div>
    <div class="customers">
        <nz-table #basicTable [nzData]="customers">
            <thead>
              <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let customer of customers">
                <td>{{customer.id}}</td>
                <td>{{customer.name}}</td>
                <td>{{customer.email}}</td>
                <td>{{customer.phone}}</td>
                <td>
                  <nz-row>
                    <nz-col [nzSpan]="11">
                      <button nz-button (click)="deleteCustomer(customer.id)">
                        <span nz-icon nzType="delete" nzTheme="outline"></span>
                      </button>
                    </nz-col>
                    <nz-col [nzSpan]="2">
                      <nz-divider nzType="vertical"></nz-divider>
                    </nz-col>
                    <nz-col [nzSpan]="11">
                      <button nz-button nzType="primary">
                        <span nz-icon nzType="edit" nzTheme="outline"></span>
                      </button>
                    </nz-col>
                  </nz-row>
                </td>
              </tr>
            </tbody>
          </nz-table>
    </div>
</div>
